* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto", sans-serif;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
.burger {
	display: none;
	border: none;
	position: absolute;
	right: 10px;
	top: 24.5px;
	cursor: pointer;
	height: 10px;
}
.burger-decoration {
	display: block;
	height: 2px;
	width: 22px;
	background-color: rgb(0, 30, 65);
	border-radius: 7px;
	transition: all 0.3s;
}
.nav {
	position: relative;
	font-family: "Source Sans 3", sans-serif;
}
.container {
	margin: 0 auto;
	max-width: 1256px;
}
.nav-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 77px;
}
.nav-logo-box {
	display: block;
	width: 140px;
	height: 34px;
}
.nav-lists {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 294px;
	height: 20px;
}

.nav-list {
	color: rgb(125, 125, 125);
	font-size: 18px;
	font-weight: 600;
	line-height: 110%;
	transition: 0.3s all;
}
.nav-list:hover {
	color: rgb(89, 85, 85);
}
.nav-auth,
.nav-contact {
	font-size: 18px;
	font-weight: 400;
	line-height: 160%;
	text-align: center;
}
.nav-auth {
	color: rgb(93, 120, 255);
	margin-right: 40px;
	transition: all 0.3s;
}
.nav-contact {
	border: none;
	border-radius: 8px;
	background: rgb(93, 120, 255);
	padding: 7px 24px 7px 24px;
	color: rgb(255, 255, 255);
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.6s;
}
.nav-auth:hover {
	color: rgb(52, 68, 150);
}
.nav-divider {
	display: block;
	opacity: 1;
	margin-top: 13.5px;
	width: 100%;
	height: 1px;
	background-color: rgb(206, 204, 204);
	display: none;
}
.promo-container {
	display: grid;
	grid-template-columns: 1fr 543px;
}
.promo-block-left {
	padding: 81px 0 20px 51px;
}
.promo-title-box {
	max-width: 611px;
}
.promo-title {
	font-size: 40px;
	font-weight: 600;
	line-height: 120%;
	text-align: left;
	color: rgb(0, 30, 65);
}
.promo-text-one {
	margin-top: 16px;
	color: rgb(0, 30, 65);
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
}
.promo-text-two {
	margin-top: 6px;
	color: rgb(145, 145, 145);
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
}
.promo-btn {
	margin-top: 16px;
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	text-align: center;
	padding: 8px 24px 8px 24px;
	border-radius: 8px;
	border: none;
	background: rgb(93, 120, 255);
	cursor: pointer;
	transition: all 0.3s;
}
.promo-btn:hover,
.nav-contact:hover {
	background: rgb(74, 96, 204);
}
.promo-text-brands {
	margin-top: 67px;
	color: rgb(0, 30, 65);
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
}
.promo-box-container {
	display: flex;
	justify-content: space-between;
	max-width: 631px;
	min-height: 28px;
	align-items: center;
	margin-top: 6px;
}
.promo-box-container-doubler {
	display: none;
	justify-content: space-between;
	max-width: 631px;
	min-height: 18.16px;
	align-items: center;
	margin-top: 6px;
	padding: 0 111px;
}
.promo-block-right {
	position: relative;
	margin-top: 22.32px;
	padding: 30.68px 53.6px 35px 109px;
}
.promo-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.promo-box-card {
	position: absolute;
}
.promo-box-card-top {
	top: 9.2px;
	left: 52.82px;
	width: 190px;
	height: 152px;
	border-radius: 6.24px;
	box-shadow: 1px 0px 21.6px 8px rgb(193, 221, 223);
	z-index: -2;
	transform: rotate(-1.59deg);
}
.promo-card-up {
	position: absolute;
	top: 9.2px;
	z-index: 10;
	left: 52.82px;
	width: 190.03px;
	height: 150.93px;
	border-radius: 9.2px;
	transform: rotate(-1.59deg);
}
.promo-card-right {
	position: absolute;
	top: 75.68px;
	right: 0;
	width: 163.81px;
	height: 88.61px;
	border-radius: 6.24px;
	transform: rotate(5.56deg);
}
.promo-box-card-right {
	position: absolute;
	top: 75.68px;
	right: 0;
	width: 163.81px;
	height: 88.61px;
	transform: rotate(5.56deg);
	border-radius: 6.24px;
	box-shadow: 1px 0px 21.6px 8px rgb(193, 221, 223);
	z-index: -2;
}
.promo-box-card-left {
	left: 0;
	top: 273px;
	width: 164.94px;
	height: 89.78px;
	transform: rotate(-6.7deg);
	border-radius: 6.24px;
	box-shadow: 1px 0px 21.6px 8px rgb(193, 221, 223);
	z-index: -2;
}
.promo-card-left {
	position: absolute;
	top: 273px;
	width: 164.94px;
	height: 89.78px;
	transform: rotate(-6.7deg);
	border-radius: 6.24px;
	left: 0;
}
.layer {
	position: fixed;
	top: 0;
	left: -100%; /* Начальное положение вне видимой области слева */
	z-index: 10000;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition:
		left 1.5s ease,
		visibility 1.5s ease,
		opacity 0.8s ease-in-out;
	opacity: 0;
}
.layer-open {
	left: 0;
	visibility: visible;
	opacity: 1;
}
.modal {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 800px;
	margin: 0 auto;
	margin-top: 114px;
	height: 550px;
}
.modal-img {
	max-width: 400px;
	height: 550px;
	border-radius: 14px 0 0 14px;
	object-fit: cover;
}
.modal-block {
	position: relative;
	padding: 27.5px 42px 0px 42px;
	background-color: white;
}
.modal-button-exit {
	position: absolute;
	border: none;
	top: 9.31px;
	right: 9.31px;
	cursor: pointer;
}
.modal-exit-img {
	width: 11.38px;
	height: 11.38px;
}
.modal-title-box {
	max-width: 316px;
	max-height: 164px;
}
.modal-title-block {
	color: rgb(0, 30, 65);
	font-size: 34px;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: 1px;
	text-align: center;
}
.modal-item {
	margin-top: 24px;
	color: rgb(0, 30, 65);
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
	text-align: center;
}
.modal-form {
	display: flex;
	flex-direction: column;
	position: relative;
}
.modal-label-name {
	margin-top: 24px;
	color: rgb(145, 145, 145);
	font-size: 12px;
	font-weight: 600;
	line-height: 130%;
}
.modal-input-name {
	margin-top: 4px;
	box-sizing: border-box;
	border: 1px solid rgb(213, 213, 214);
	border-radius: 8px;
	background: rgb(255, 255, 255);
	padding: 8px 12px 8px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
}
.modal-label-tel {
	margin-top: 8px;
	color: rgb(145, 145, 145);
	font-size: 12px;
	font-weight: 600;
	line-height: 130%;
}
.modal-tel-box {
	display: flex;
	position: relative;
	margin-top: 4px;
	box-sizing: border-box;
	border: 1px solid rgb(213, 213, 214);
	border-radius: 8px;
	background: rgb(255, 255, 255);
	align-items: center;
}
.modal-country-dropdown {
	position: relative;
	max-width: 100%;
}
.modal-selected-option {
	display: flex;
	border: none;
	cursor: pointer;
	width: 65px;
	padding: 8px 12px 8px 12px;
	justify-content: space-between;
	align-items: center;
}
.modal-selected-item {
	display: flex;
	padding: 8px 12px 8px 12px;
	justify-content: space-between;
	align-items: center;
}
.modal-selected-option-number {
	margin-right: 3px;
}
.modal-options-list {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	display: none;
	background-color: #fff;
	border: 1px solid #ccc;
}
.modal-options-list li {
	padding: 10px;
	cursor: pointer;
}
.modal-options-list li:hover {
	background-color: #f0f0f0;
}
.modal-input-tel {
	padding: 8px 4.5px 8px 4.5px;
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
	border: none;
}
.modal-button-box {
	display: flex;
	justify-content: space-between;
	padding: 10px 0px 10px 0px;
	width: 316px;
	margin: 24px auto 0 auto;
}
.modal-button-support,
.modal-button-contact {
	border-radius: 7px;
	background: rgb(174, 209, 255);
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	padding: 12px 41px 12px 41px;
	border: none;
	width: 153px;
	cursor: pointer;
	transition: all 0.3s;
}
.modal-button-support:hover {
	background: rgb(144, 175, 216);
}
.modal-button-contact {
	padding: 12px 0px 12px 0px;
	background: rgb(93, 120, 255);
	cursor: pointer;
	transition: all 0.3s;
}
.modal-button-contact:hover {
	background: rgb(74, 96, 204);
}
.modal-container-privacy {
	display: flex;
	position: relative;
	flex-direction: row;
	width: 100%;
	margin-top: 24px;
}
.modal-container-checkbox {
	box-sizing: border-box;
	border: 1px solid rgb(213, 213, 214);
	border-radius: 4px;
	background: rgb(255, 255, 255);
}
.modal-container-item {
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	color: rgb(145, 145, 145);
	margin-left: 8.5px;
}
.modal-container-item a {
	color: rgb(93, 120, 255);
}
.modal-logo-link {
	position: absolute;
	display: flex;
	width: 138px;
	justify-content: space-between;
	left: 50%;
	transform: translate(-50%);
	bottom: 14px;
}
.modal-logo-icon {
	height: 19.28px;
}
.modal-logo-text {
	margin-top: 5px;
	color: rgb(189, 189, 189);
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}
.modal-logo-text span {
	text-decoration: underline;
}
.reasons {
	margin-bottom: 76px;
}
.reasons-title {
	margin-top: 100px;
	font-size: 36px;
	font-weight: 400;
	line-height: 42px;
	color: rgb(0, 30, 65);
}
.reasons-title span {
	color: rgb(145, 145, 145);
}
.container-for-carousel {
	position: relative;
}
.reasons-carousel-container {
	width: 1348px;
	margin-top: 40px;
}
.reasons-inner-carousel {
	position: relative;
}
.reasons-inner-carousel .slick-next,
.reasons-inner-carousel .slick-prev {
	position: absolute;
	border: none;
	top: -76px;
	z-index: 10000;
	cursor: pointer;
}
.reasons-inner-carousel .slick-next,
.reasons-inner-carousel .slick-prev {
	right: 68px;
	width: 28px;
	height: 28px;
	background-image: url(../resources/icons/next-slick.png);
	background-size: cover;
	color: rgba(255, 255, 255, 0);
	transition: all 0.3s;
}
.reasons-inner-carousel .slick-prev {
	right: 105px;
	background-image: url(../resources/icons/prev-slick.png);
}
.reasons-inner-carousel .slick-next:hover,
.reasons-inner-carousel .slick-prev:hover {
	width: 29px;
	height: 29px;
}
.reasons-carousel-card {
	/* width: 280px !important; */
	min-height: 372px !important;
	padding: 20px;
}
.reasons-carousel-card:hover {
	cursor: pointer;
}
.reasons-carousel-title {
	color: rgb(0, 30, 65);
	font-size: 16px;
	font-weight: 700;
	line-height: 150%;
}
.reasons-carousel-text {
	margin-top: 20px;
	color: rgb(0, 30, 65);
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
}
.reasons-btn-text-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 40px auto;
	width: 719px;
	height: 40px;
}
.reasons-btn-boost {
	padding: 8px 24px 8px 24px;
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	border-radius: 8px;
	background: rgb(93, 120, 255);
	border: none;
	cursor: pointer;
	transition: all 0.3s;
}
.reasons-btn-boost:hover {
	background: rgb(74, 96, 204);
}
.reason-text-motivation {
	color: rgb(0, 30, 65);
	font-size: 14px;
	font-weight: 400;
	line-height: 130%;
	width: 440px;
	margin-top: 2px;
}
.invalid {
	border: 1px solid red;
}
.error {
	color: red;
	font-size: 14px;
	top: 88px;
	left: 185px;
	position: absolute;
}
.error-position {
	top: 42px;
}
.hide {
	opacity: 0;
	display: none;
}
.invisible {
	background-color: transparent;
	border: none;
}
.invalid-checkbox {
	height: 40px;
	border: 1px solid red;
	border-radius: 9px;
}
.error-checkbox {
	top: -22px;
}
@media (max-width: 1440px) {
	.reasons-carousel-container {
		width: 100%;
	}
}
@media (max-width: 1280px) {
	.container {
		padding: 0 10px 0 10px;
	}
}
@media (max-width: 1200px) {
	.promo-box-container-doubler {
		display: flex;
	}
	.promo-brand-box-four,
	.promo-brand-box-five {
		display: none;
	}
}
@media (max-width: 1120px) {
	.slick-prev {
		display: none !important;
	}
	.slick-next {
		display: none !important;
	}
	.slick-dots {
		display: flex !important;
		width: 42px !important;
		justify-content: space-between;
		margin: 10px auto;
	}
	#slick-slide-control00,
	#slick-slide-control01,
	#slick-slide-control02,
	#slick-slide-control03,
	#slick-slide-control04,
	#slick-slide-control05 {
		border-radius: 50% !important;
		width: 10px;
		height: 10px;
		color: rgba(255, 0, 0, 0);
		border: 1px solid #c5c3c3;
		cursor: pointer;
		transition: all 0.6s;
	}
	#slick-slide-control00[aria-selected="true"],
	#slick-slide-control01[aria-selected="true"],
	#slick-slide-control02[aria-selected="true"],
	#slick-slide-control03[aria-selected="true"],
	#slick-slide-control04[aria-selected="true"],
	#slick-slide-control05[aria-selected="true"] {
		background: rgb(93, 120, 255);
		border: 1px solid rgb(93, 120, 255);
	}
	.reasons-btn-text-box {
		margin-top: 20px;
	}
}
@media (max-width: 1056px) {
	.promo-box-container-doubler {
		padding: 0;
		justify-content: space-evenly;
	}
}
@media (max-width: 982px) {
	.promo-box-container {
		width: 319.79px;
	}
	.promo-brand-logo {
		width: 80%;
	}
	.promo-box-container-doubler {
		padding: 0;
		justify-content: space-evenly;
		width: 200px;
	}
}
@media (max-width: 850px) {
	.promo-container {
		grid-template-columns: 1fr;
		padding: 0 10px;
	}
	.modal {
		justify-content: center;
	}
	.modal-img {
		width: 100%;
		object-position: left;
	}
}
@media (max-width: 782px) {
	.reasons-btn-text-box {
		flex-direction: column;
		align-items: center;
	}
	.reasons-btn-boost {
		max-width: 259px;
		margin: 0 auto;
	}
	.reason-text-motivation {
		margin-top: 10px;
		text-align: center;
		color: rgb(0, 30, 65);
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
	}
}
@media (max-width: 768px) {
	.nav-block {
		height: 35px;
		display: block;
		padding-top: 14px;
	}
	.nav-lists {
		display: none;
	}
	.nav-auth-contact {
		display: none;
	}
	.nav-divider {
		display: block;
	}
	.modal-block {
		padding: 27px 26.25px 27px 26.25px;
		width: 300px;
	}
	.modal {
		grid-template-columns: 1fr 1fr;
		justify-content: center;
	}
	.modal-img {
		height: 100% !important;
	}
	.burger {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.burger:hover .burger-decoration {
		background-color: rgb(73, 77, 82);
	}
	.promo-block-left {
		padding: 30.5px 0 0 0;
	}
	.promo-block-right {
		margin-top: 33.66px;
	}
	.promo-title {
		color: rgb(0, 30, 65);
		font-size: 32px;
		font-weight: 600;
		line-height: 120%;
	}
	.promo-text-one {
		color: rgb(0, 30, 65);
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
	}
	.promo-text-two {
		color: rgb(145, 145, 145);
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
	}
	.promo-btn {
		font-size: 14px;
		font-weight: 500;
		line-height: 130%;
	}
	.promo-text-brands {
		margin-top: 20px;
		color: rgb(0, 30, 65);
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
	}
	.promo-btn {
		margin-top: 20px;
	}
	.promo-box-container {
		margin-top: 10px;
	}
	.promo-box-container-doubler {
		margin-top: 6.61px;
	}
	.error {
		left: 165px;
	}
	.reasons-btn-text-box {
		width: 100%;
	}
	.reasons-title {
		margin-top: 60px;
		font-size: 20px;
		font-weight: 400;
		line-height: 130%;
	}
	.reasons-carousel-title {
		font-size: 17px;
		font-weight: 600;
		line-height: 150%;
		text-align: left;
		margin-left: 20px;
	}
	.reasons-carousel-text {
		font-size: 12px;
		margin-left: 20px;
	}
	.slick-dots {
		width: 74px !important;
	}
}
@media (max-width: 518px) {
	.modal {
		grid-template-columns: 1fr;
		width: 100%;
		justify-items: center;
		margin-top: 79px;
		height: 412.5px;
	}
	.modal-block {
		width: 285px;
	}
	.modal-title-block {
		color: rgb(0, 30, 65);
		font-size: 18px;
		font-weight: 400;
		line-height: 120%;
		margin-top: 4px;
	}
	.modal-title-box {
		width: 237px;
		height: 28px;
		margin-top: 3px;
	}
	.modal-img {
		display: none;
	}
	.modal-item {
		color: rgb(0, 30, 65);
		font-size: 12px;
		font-weight: 400;
		line-height: 150%;
		margin-top: 18px;
	}
	.modal-label-name {
		font-family: Roboto;
		font-size: 9px;
		font-weight: 600;
		line-height: 130%;
		margin-top: 18px;
		margin-top: 6px;
	}
	.modal-input-name {
		width: 237px;
		height: 28px;
		padding: 6px 9px 6px 9px;
		color: rgb(189, 189, 189);
		font-size: 10.5px;
		font-weight: 400;
		line-height: 150%;
		margin-top: 3px;
	}
	.modal-label-tel {
		font-size: 9px;
		font-weight: 600;
		line-height: 130%;
	}
	.modal-selected-option {
		font-size: 10.5px;
		font-weight: 400;
		line-height: 150%;
	}
	.modal-selected-option-img {
		width: 12.75px;
		height: 4.5px;
	}

	.modal-input-tel {
		font-size: 10.5px;
		font-weight: 400;
		line-height: 150%;
	}
	.modal-button-box {
		width: 237px;
		margin-top: 18px;
	}
	.modal-button-support,
	.modal-button-contact {
		font-size: 12px;
		font-weight: 400;
		line-height: 13.5px;
		width: 114.75px;
		height: 32px;
		padding: 9px 30.75px 9px 30.75px;
	}
	.modal-button-contact {
		padding: 9px 15px 9px 15px;
	}
	.modal-container-privacy {
		width: 221.25px;
		height: 22px;
		margin-top: 18px;
	}
	.modal-container-checkbox {
		width: 9.75px;
		height: 9.75px;
		margin-top: 5px;
	}
	.modal-container-item {
		font-size: 9.75px;
		font-weight: 400;
		line-height: 11px;
		margin-left: 6.13px;
	}
	.modal-logo-link {
		width: 103.5px;
		height: 14.25px;
		bottom: 14px;
	}
	.modal-logo-icon {
		width: 22.13px;
		height: 14.46px;
	}
	.modal-logo-text {
		font-size: 9px;
		font-weight: 400;
		line-height: 11px;
	}
	.promo-container {
		padding: 0;
	}
	.promo-block-right {
		position: relative;
		margin: 33.66px auto auto auto;
		padding: 0;
		width: 290px;
	}
	.promo-img {
		width: 229.25px;
		height: 273.05px;
		margin: 0 auto;
		display: block;
	}
	.promo-btn {
		display: block;
		margin: 20px auto;
	}
	.promo-text-brands {
		text-align: center;
	}
	.promo-box-container {
		margin: 10px auto;
	}
	.promo-box-container-doubler {
		margin: 6.61px auto;
	}
	.promo-box-card-top {
		top: 0.2px;
		left: 1.82px;
		width: 113px;
		height: 90px;
		box-shadow: 1px 0px 21.6px 8px rgb(193, 221, 223);
	}
	.promo-card-up {
		width: 117.74px;
		height: 93.24px;
		top: -1.8px;
		left: 3px;
	}
	.promo-card-right {
		top: 54.68px;
		right: 5px;
		width: 101.49px;
		height: 54.74px;
		border-radius: 2.24px;
		transform: rotate(5.56deg);
	}
	.promo-box-card-right {
		position: absolute;
		top: 55.68px;
		right: 6px;
		width: 116.81px;
		height: 52.61px;
		transform: rotate(5.56deg);
		border-radius: 6.24px;
		box-shadow: 1px 0px 21.6px 8px rgb(193, 221, 223);
		z-index: -2;
	}
	.promo-card-left {
		width: 94.66px;
		height: 47.91px;
		top: 199px;
		left: 15px;
	}
	.promo-box-card-left {
		left: 15px;
		top: 202px;
		width: 69.94px;
		height: 48.78px;
	}
	.reason-text-motivation {
		width: 100%;
	}
	.error {
		left: 88px;
		top: 50px;
	}
	.error-position {
		top: 37px;
	}
	.error-checkbox {
		top: -22px;
	}
	.reasons-title {
		margin-top: 60px;
		font-size: 20px;
		font-weight: 400;
		line-height: 130%;
	}
	.reasons-carousel-title {
		font-size: 17px;
		font-weight: 600;
		line-height: 150%;
		margin-left: 20px;
	}
	.reasons-carousel-text {
		font-size: 12px;
		margin-left: 20px;
	}
}
@media (max-width: 480px) {
	.slick-dots {
		width: 90px !important;
	}
}
@media (max-width: 361px) {
	.reasons-carousel-text {
		font-size: 12px;
		margin-left: 20px;
	}
}
